.layout {
  .header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    width: 100%;
  }

  .menu {
    line-height: 4rem;
  }

  .content {
    padding: 2rem;
    padding-top: 6rem;
    min-height: 100vh;
    height: 1px;
  }
}
